.menu-horizontal .active{
    padding-inline: 12px;
    padding-block: 6px;
    border-radius: 6px;
    background-color: #ff4400;
    font-weight: 700;
    color: white;
}

.menu-sm .active{
    background-color: rgb(254, 74, 3);
    color: white;
}