.menu-horizontal .active{
    padding-inline: 12px;
    padding-block: 6px;
    border-radius: 6px;
    background-color: #10B981;
    font-weight: 700;
    color: white;
}

.menu-sm .active{
    background-color: #10B981;
    color: white;
}